<h1>Seleziona Server e Continente</h1>
<div>
  <%= form_with url: leaderboards_show_path, method: :get, local: true do |form| %>
    <%= form.label :server, "Server" %>
    <%= form.select :server, options_for_select([['EUW1', 'euw1'], ['NA1', 'na1'], ['KR', 'kr'], ['EUNE1', 'eun1']], @server) %>
  
    <%= form.label :continent, "Continente" %>
    <%= form.select :continent, options_for_select([['Europe', 'europe'], ['North America', 'north_america'], ['Asia', 'asia']], @continent) %>
  
    <%= form.submit "Mostra Classifica", class: 'btn btn-primary' %>
  <% end %>
</div>
