<h1>League of Legends Leaderboard</h1>
<% if @lol_leaderboard %>
  <table>
    <thead>
      <tr>
        <th>Punteggio (LP)</th>
        <th>ID del Giocatore</th>
        <th>Winrate (%)</th>
        <th>Tier</th>
      </tr>
    </thead>
    <tbody>
      <% @lol_leaderboard['entries'].each do |player| %>
        <tr>
          <td><%= player['leaguePoints'] %></td>
          <td><%= player['summonerId'] %></td>
          <td><%= player['winRate'] %></td>
          <td><%= @lol_leaderboard['tier'] %> <%= player['rank'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Unable to fetch League of Legends leaderboard.</p>
<% end %>
