<h1>Classifica Challenger</h1>
<% if @lol_leaderboard.present? && @lol_leaderboard['entries'].present? %>
  <table>
    <thead>
      <tr>
        <th>Nome Giocatore</th>
        <th>League Points</th>
        <th>Winrate</th>
        <th>Tier</th>
      </tr>
    </thead>
    <tbody>
      <% @lol_leaderboard['entries'].each do |player| %>
        <tr>
          <td><%= player['summonerName'] || "Nome non disponibile" %></td>
          <td><%= player['leaguePoints'] %></td>
          <td><%= player['winRate'] %>%</td>
          <td><%= @lol_leaderboard['tier'] %> <%= player['rank'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Non sono disponibili dati per il server selezionato.</p>
<% end %>
