<div class="signup-section" id="signup-section">
    <div class="signup-north-container">
      <h1>Registrati</h1>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'signup-mid-container' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="signup-mid-north-container">

          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'e.g. MarcoRossi@gmail.com' %>

          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: '******' %>

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '******' %>

          <%= f.label :riot_id %>
          <%= f.text_field :riot_id %>

          <%= f.label :battle_id %>
          <%= f.text_field :battle_id %>
        </div>

        <div class="signup-mid-south-container">
          <%= f.submit "Sign Up" %>
          <%= link_to "Hai già un account? Accedi!", new_user_session_path %>
        </div>
    <% end %>
</div>
