<%= stylesheet_link_tag "squads/edit_squad" %>


<div class="edit-squad-container">
  <h1>Edit Squad</h1>

  <%= form_with(model: @squad, local: true) do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, class: 'text-field' %>

    <%= form.label :description %>
    <%= form.text_area :description, class: 'textarea' %>

    <%= form.label :creator_name %>
    <%= form.text_field :creator_name, class: 'text-field' %>

    <hr>
    <h3>Players</h3>
    <div class="players-section">
      <%= form.fields_for :players do |player_form| %>
        <div class="player-card">
          <div class="fields_for">
            <%= player_form.label :riot_id %>
            <%= player_form.text_field :riot_id, class: 'text-field' %>
          </div>
          <div class="fields_for">
            <%= player_form.label :game_tag %>
            <%= player_form.text_field :game_tag, class: 'text-field' %>
          </div>
          <div class="remove-player">
            <%= player_form.check_box :_destroy %>
            <%= player_form.label :_destroy, "Remove player" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="form-actions">
      <%= form.submit "Update Squad" %>
      <%= link_to 'Back to My Squads', new_squad_path, class: 'back-link' %>
    </div>
  <% end %>
</div>
