<h1>Edit Squad</h1>

<%= form_with(model: @squad, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :creator_name %>
  <%= form.text_field :creator_name %>

  <h3>Players</h3>
  <%= form.fields_for :players do |player_form| %>
    <div>
      <%= player_form.label :riot_id %>
      <%= player_form.text_field :riot_id %>
    </div>
    <div>
      <%= player_form.label :game_tag %>
      <%= player_form.text_field :game_tag %>
    </div>
    <div>
      <%= player_form.check_box :_destroy %>
      <%= player_form.label :_destroy, "Remove player" %>
    </div>
  <% end %>

  <%= form.submit "Update Squad" %>
<% end %>

<%= link_to 'Back to My Squads', new_squad_path %>
