<h1>All Squads</h1>

<% @squads.each do |squad| %>
  <div class="squad">
    <h2><%= squad.name %></h2>
    <h3>Players</h3>
    <ul>
      <% squad.players.each do |player| %>
        <li>
          <%= player.riot_id %> (<%= player.game_tag %>) - PUUID: <%= player.puuid %>
          <% if player.puuid.blank? %>
            <p>Player details could not be fetched.</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to 'Back to Home', root_path %>
