<%= stylesheet_link_tag "squads/new_squad" %>

<div class="new-squad-container">
  <h1>Create a new squad!</h1>

  <%= form_with(model: @squad, local: true) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: 'squad_name' %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: 'squad_description' %>
    </div>

    <div class="field">
      <%= form.label :creator_name %>
      <%= form.text_field :creator_name, id: 'squad_creator_name' %>
    </div>

    <h3>Players</h3>
    <%= form.fields_for :players do |player_form| %>
      <div class="field">
        <%= player_form.label :riot_id %>
        <%= player_form.text_field :riot_id %>
      </div>
      <div class="field">
        <%= player_form.label :game_tag %>
        <%= player_form.text_field :game_tag %>
      </div>
      <hr>
    <% end %>

    <div class="actions">
      <%= form.submit "Create Squad", id: 'create_squad_button' %>
    </div>
  <% end %>
</div>