<%= form_with(model: @squad, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <h3>Players</h3>
  <%= form.fields_for :players do |player_form| %>
    <div>
      <%= player_form.label :riot_id %>
      <%= player_form.text_field :riot_id %>
    </div>
    <div>
      <%= player_form.label :game_tag %>
      <%= player_form.text_field :game_tag %>
    </div>
  <% end %>

  <%= form.submit "Create Squad" %>
<% end %>
