<%= stylesheet_link_tag "items" %>

<div id="item-container" class="item-container">
    <h1>League of Legends Items</h1>

    <input type="text" id="item-search" placeholder="Cerca oggetti...">

    <div class="image-gallery" id="image-gallery">
        <% @items.each do |item_id, item| %>
            <% image_path = @images.find { |path| path.include?(item_id) } %>
            <% next unless image_path %>
            <%= image_tag image_path.gsub('app/assets/images/', '').gsub('.png', '.webp'),
                class: 'item-image',
                data: { id: item_id, name: item["name"], description: item["description"],
                        cost: item["gold"]["total"],
                        image_path: image_path.gsub('app/assets/images/', '').gsub('.png', '.webp') } %>
        <% end %>
    </div>
</div>

<div id="item-invisible" class="item-invisible">
    <div id="item-details" class="item-details">
        <div class="item-details-north">
            <h2 id="item-name"></h2>
            <%= image_tag("application/x-icon.svg", alt: "Item Image", onclick: 'toggleItem()') %>
        </div>

        <div class="item-details-mid">
            <%= image_tag("", id: "item-image", alt: "Item Image") %>
        </div>

        <div class="item-details-south">
            <p id="item-description"></p>
            <p id="item-cost"></p>
        </div>
    </div>
</div>

<%= javascript_include_tag "items" %>

