<h1>Profile</h1>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Riot ID:</strong>
  <%= @riot_id %>
</p>

<p>
  <strong>Riot Tagline:</strong>
  <%= @riot_tagline %>
</p>

<h2>Player Data</h2>

<%= form_with url: profile_path, method: :get, local: true do %>
  <div>
    <label for="continent">Continent:</label>
    <%= select_tag :continent, options_for_select(@continents.map { |key, value| [value, key] }, @selected_continent), onchange: "this.form.submit();" %>
  </div>
  <div>
    <label for="region">Region:</label>
    <%= select_tag :region, options_for_select(@regions[@selected_continent].map { |region| [region.upcase, region] }, @selected_region), onchange: "this.form.submit();" %>
  </div>
<% end %>

<% if @player_data %>
  <p><strong>PUUID:</strong> <%= @player_data['puuid'] %></p>
  <p><strong>Summoner Name:</strong> <%= @summoner_data['name'] %></p>
  <p><strong>Rank:</strong> <%= @rank_data.first['tier'] %> <%= @rank_data.first['rank'] %></p>

  <h3>Recent Matches</h3>
  <% @matches.each do |match| %>
    <div>
      <p><strong>Match ID:</strong> <%= match[:match_id] %></p>
      <p><strong>Score:</strong> <%= match[:score] %></p>
      <p><strong>Duration:</strong> <%= match[:duration] %></p>
      <p><strong>Result:</strong> <%= match[:win] %></p>
      <p><strong>Champion:</strong> <%= match[:champion_name] %></p>
    </div>
  <% end %>

  <p><strong>Win Rate:</strong> <%= @win_rate %> %</p>
<% else %>
  <p>No player data found.</p>
<% end %>
