<!DOCTYPE html>
<html>
  <head>
    <title>GamerStats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <% if flash[:notice] %>
        <div class="flash notice" style="background-color: #57FF56; color: black"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash alert" style="background-color: #FE3636"><%= flash[:alert] %></div>
      <% end %>

      <%= yield %>
  </body>
</html>
