<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>GamerStats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# Includi i fogli di stile specifici per ogni pagina %>
    <%= yield :stylesheets %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

    <!-- NAVBAR -->
    <nav>
      <div class="nav-container">
        <ul>
          <%= link_to 'Home', home_path %>
          <%= link_to 'About', about_path %>
          <%= link_to 'Contact Us', contacts_path %>
          <% if fully_authenticated? %>
            <div>
              <%= button_to "Logout", destroy_user_session_path, method: :delete %>
            </div>
          <% else %>
            <div>
              <%= link_to "Login", new_user_session_path %>
            </div>
          <% end %>
          <% if fully_authenticated? %>
            <%= link_to 'My Squad', new_squads_path %>
          <% end %>

           <% if fully_authenticated? && current_user.admin? %>
              <%= link_to 'Dashboard', admin_dashboard_path %>
              <%= link_to 'Tickets', admin_tickets_path %>
              <%= link_to 'Patch Notes', admin_patch_notes_path %>
              <%= link_to 'Manage Squads', admin_squads_path %>
            <% end %>
        </ul>
      </div>
    </nav>

    <!-- CONTENUTO PRINCIPALE (NON TOCCARE) -->
    <div class="main-content" id="main-content">
      <div class="sidebar" id="sidebar-left">
        <div class="sidebar-top">
          <%= link_to home_path, class: "logo" do %>
            <%= image_tag('application/logo.png') %>
          <% end %>
          <%= link_to leaderboards_path do %>
            <%= image_tag 'application/leaderboard-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
            Leaderboard
          <% end %>

          <%= link_to insights_path do %>
            <%= image_tag 'application/insights-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
            Insights
          <% end %>

          <%= link_to patch_notes_path do %>
            <%= image_tag 'application/patch_notes-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
            Patch Notes
          <% end %>

          <%= link_to items_path do %>
            <%= image_tag 'application/items-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
            Items
          <% end %>

          <%= link_to champions_path do %>
            <%= image_tag 'application/champion_ratings-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
            Champion Ratings
          <% end %>

          <%= link_to squads_path do %>
            <%= image_tag 'application/squads-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
            Squads
          <% end %>
        </div>

        <div class="sidebar-bottom">
          <% if fully_authenticated? %>
            <div>

              <%= link_to profile_path(current_user.id) do %>
                <%= image_tag 'application/profile-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
                Profile
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <%= yield %>

    </div>

    <div class="mobile-container invisible">
      <div class="mobile-top">
        <%= link_to home_path, class: "logo" do %>
          <%= image_tag('application/logo.png') %>
        <% end %>

        <div class="hamburger-icon" onclick=toggleSidebar()>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="mobile-bottom" id="mobile-bottom">
        <div class="mobile-left" id="mobile-left">
          <%= link_to leaderboards_path do %>
            <%= image_tag 'application/leaderboard-icon.svg', width: 18, height: 18, alt: '', style: 'margin-left: 5px;' %>
            Leaderboard
          <% end %>

          <%= link_to insights_path do %>
            <%= image_tag 'application/insights-icon.svg', width: 18, height: 18, alt: '', style: 'margin-left: 5px;' %>
            Insights
          <% end %>

          <%= link_to patch_notes_path do %>
            <%= image_tag 'application/patch_notes-icon.svg', width: 18, height: 18, alt: '', style: 'margin-left: 5px;' %>
            Patch Notes
          <% end %>

          <%= link_to items_path do %>
            <%= image_tag 'application/items-icon.svg', width: 18, height: 18, alt: '', style: 'margin-left: 5px;' %>
            Items
          <% end %>

          <%= link_to champions_path do %>
            <%= image_tag 'application/champion_ratings-icon.svg', width: 18, height: 18, alt: '', style: 'margin-left: 5px;' %>
            Champion Ratings
          <% end %>

          <%= link_to squads_path do %>
            <%= image_tag 'application/squads-icon.svg', width: 18, height: 18, alt: '', style: 'margin-left: 5px;' %>
            Squads
          <% end %>
        </div>

        <div class="mobile-right" id="mobile-right">
          <%= link_to home_path do %>
            Home
            <%= image_tag 'application/home-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
          <% end %>

          <%= link_to about_path do %>
            About
            <%= image_tag 'application/about-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
          <% end %>

          <%= link_to contacts_path do %>
            Contact Us
            <%= image_tag 'application/contact_us-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
          <% end %>

          <% if fully_authenticated? %>
            <div>
              <%= link_to destroy_user_session_path, method: :delete do %>
                Logout
                <%= image_tag 'application/login-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
              <% end %>
            </div>
          <% else %>
            <div>
              <%= link_to "Login", new_user_session_path %>
              <%= image_tag 'application/login-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
            </div>
          <% end %>

          <% if fully_authenticated? %>
            <%= link_to new_squads_path do %>
              My Squad
              <%= image_tag 'application/my_squad-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
            <% end %>
          <% end %>

          <% if fully_authenticated? %>
            <div>

              <%= link_to profile_path(current_user.id) do %>
                Profile
                <%= image_tag 'application/profile-icon.svg', width: 18, height: 18, alt: '', style: 'margin-right: 5px;' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'custom_script' %>

  </body>
</html>
